.checkavailability_wrapper{

}
label {  width: 300px;  
     color:#d73421;
    text-transform: uppercase;
    font-family: 'HelveticaNeue-Bold'!important;
    font-size: 14px;
    font-weight: bold; }

